html {
    background: #E1D4BB;
    color: #537188;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 30pt;
}

nav {
    background: #CBB279;
    padding: 20px;
}

nav a {
    background: #537188;
    color: white;
    font-size: 13pt;
    padding: 5px 20px;
    margin-right: 10px;
    border: solid #537188;
    border-radius: 5%;
    text-decoration: none;
}

div {
    margin-bottom: 10px;
}

button {
    background: #537188;
    color: white;
    width: 80px;
    padding: 5px 0;
    margin: 10px 10px 10px 0;
}

input {
    height: 20px;
    margin-right: 10px;
}

img {
    width: 150px;
    height: 150px;
}

/*home page*/

.home-page {
    display: flex;
}

.create-item, .list-item {
    margin: 20px 20px 0 20px;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    background-color: #ECE8DD;
    display: flex;
    border: 1px solid;
    border-radius: 5px;
    width: 400px;
    margin-right: 20px;
}

.item-info, .item-image, .select-box  {
    margin: 10px;
}

.item-info {
    flex: 6;
}

.item-image {
    flex: 3;
}

.item-delete{
    flex: 1;
}

.delete-button {
    height: 20px;
    width: 20px;
    padding: 0;
}

.detail-container {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.detail {
    display: flex;
    flex-direction: column;
    border: 1px solid #537188;
    background-color: #ECE8DD;
    width: 30vw;
}

.popup-title {
    display: flex;
    justify-content: space-between;
    height: 30px;
    background: #537188;
    color: white;
}

.popup-text {
    display: flex;
    align-items: center;
    margin: 5px;
    font-weight: bold;
}

.close-button {
    height: 20px;
    width: 20px;
    background: white;
    color: #537188;
    margin: 5px 5px 0 0;
    padding: 0;
}

.detail-item {
    display: flex;
}

.detail-info, .detail-image {
    margin: 10px;
}

.detail-button {
    margin-left: 10px;
}

.edit-container {
    display: flex;
    margin: 20px;
}

/*about page*/

p, ul {
    font-size: 15pt;
}

.intro, .project {
    margin: 0 20px 20px 20px;
}

.project {
    margin-top: 50px;
}